b{
    color: navy;
}
.ratingBox{
    color:white;
    width:10vh;
    height:3vh;
    background-color: #541d1d;
    text-align: center;
    float: left;
}
.ymd{
    text-align: center;
    background-color: orange;
    height: auto;
    color: navy;
    font-size: 350%;
}
.insideOmdbData{
    background-color: #ead0d0;
    padding:10px;
    height: auto;
    margin-bottom: 10vh;
}
     
     @media screen and (max-width: 400px){
        #DWAP{
            margin-top: 20px;
        }
     }
